{% extends "layout.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block body %}
<form action="/search" method="get">
    <input type="text" name="city" autocomplete="off" placeholder="Search city">
    <button type="submit">Search</button>
</form>

<div class="day-chips">
    <button class="chip" aria-selected="true">
        23/08
    </button>
    <button class="chip" data-date="24/08">24/08</button>
    <button class="chip" data-date="25/08">25/08</button>
    <button class="chip" data-date="26/08">26/08</button>
    <button class="chip" data-date="27/08">27/08</button>
    <button class="chip" data-date="28/08">28/08</button>
    <button class="chip" data-date="29/08">29/08</button>
</div>

<canvas id="weatherChart"></canvas>
{% endblock %}


{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ url_for('static', filename='js/weatherCodes.js') }}"></script>
<script src="{{ url_for('static', filename='js/chart.js') }}"></script>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}