{% extends "layout.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block body %}
<form method="post">
    <input type="text" name="city" autocomplete="off" placeholder="Search city">
    <button type="submit">Search</button>
</form>

<div class="block-select-day">
    <button class="btn-day" data-index="0" aria-selected="true"></button>
    <button class="btn-day" data-index="1" ></button>
    <button class="btn-day" data-index="2" >`</button>
    <button class="btn-day" data-index="3" >`</button>
    <button class="btn-day" data-index="4" >`</button>
    <button class="btn-day" data-index="5" >`</button>
    <button class="btn-day" data-index="6" >`</button>
</div>

<canvas id="weatherChart"></canvas>
{% endblock %}


{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ url_for('static', filename='js/weatherCodes.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/chart.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/index.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}